<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-select
        [(ngModel)]="filter.month"
        (ionChange)="fetchData()"
        [interfaceOptions]="{cssClass: 'select-option', header: 'Pilih Bulan'}"
        interface="action-sheet"
        placeholder="Pilih Bulan"
        class="btn-filter-month">
        <ion-select-option *ngFor="let s of summaryList" [value]="s.month">{{s.month | date:'MMMM YYYY'}}</ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="btn-filter" fill="outline" (click)="presentFilter()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="summary">
    <div class="in-out">
      <div class="in">
        <ion-icon slot="start" src="../../../assets/icon/summary-income.svg"></ion-icon>
        <div>
          <h3>{{summaryIncome() | rupiah}}</h3>
          <h4>Pemasukan</h4>
        </div>
      </div>
      <div class="out">
        <ion-icon slot="start" src="../../../assets/icon/summary-expense.svg"></ion-icon>
        <div>
          <h3>{{summaryExpense() | rupiah}}</h3>
          <h4>Pengeluaran</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="transaction">
    <ion-list>
      <ng-container *ngFor="let item of items">
        <ion-item button (click)="openAction(item)" class="in" lines="none" *ngIf="item?.type == 'income'">
          <ion-icon src="../../../assets/icon/summary-income.svg" slot="start"></ion-icon>
          <ion-label>
            <h3>{{categoryLabel(item.category_id)}}</h3>
            <p>{{item.description}}</p>
          </ion-label>
          <ion-label slot="end">
            <h3 class="amount">{{item.amount | rupiah}}</h3>
            <p>{{item.date | date}}</p>
          </ion-label>
        </ion-item>
        <ion-item button (click)="openAction(item)" class="out" lines="none" *ngIf="item?.type == 'expense'">
          <ion-icon src="../../../assets/icon/summary-expense.svg" slot="start"></ion-icon>
          <ion-label>
            <h3>{{categoryLabel(item.category_id)}}</h3>
            <p>{{item.description}}</p>
          </ion-label>
          <ion-label slot="end">
            <h3 class="amount">{{item.amount | rupiah}}</h3>
            <p>{{item.date | date}}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>