ion-header {
  ion-toolbar {
    --background: transparent;
    color: #fff;
    ion-title {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
ion-content {
  --background: transparent;
  .container {
    bottom: 0;
    position: absolute;
    width: 100%;
    .amount {
      padding: 16px;
      ion-label {
        color: rgba(252, 252, 252, 0.65);
        display: block;
        font-size: 18px;
        font-weight: 600;
      }
      input {
        background: transparent;
        border: none;
        color: #fcfcfc;
        font-size: 56px;
        font-weight: 600;
        outline: none;
        width: 100%;
        &::before {
          content: 'Rp';
        }
        &:focus {
          position: absolute;
          bottom: 40px;
          box-shadow: 0 0 20px 20px rgba(0,0,0,0.5);
          width: calc(100% - 32px);
          background: #fff;
          color: #000;
          z-index: 999;
        }
      }
    }
    .details {
      background: #fff;
      border-radius: 32px 32px 0 0;
      padding: 24px 16px;
    }
  }
}