<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Pemasukan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="amount">
      <ion-label>Berapa jumlahnya?</ion-label>
      <input type="number">
    </div>
    <div class="details">
      <div class="input">
        <input type="date" placeholder="Tanggal" required>
      </div>
      <div class="input">
        <select placeholder="Kategori">
          <option value=""></option>
        </select>
      </div>
      <div class="input">
        <textarea rows="3" placeholder="Keterangan"></textarea>
      </div>
      <ion-button (click)="onSubmit()" expand="block" color="primary">
        Simpan
      </ion-button>
    </div>
  </div>
</ion-content>
