<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="assets/img/onboarding/slide-1.png"></ion-img>
      <h2>Gain total control<br>of your money</h2>
      <p>Become your own money manager and make every cent count</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/img/onboarding/slide-2.png"></ion-img>
      <h2>Know where<br>your money goes</h2>
      <p>Track your transaction easily, with categories and financial report </p>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/img/onboarding/slide-3.png"></ion-img>
      <h2>Planning ahead</h2>
      <p>Setup your budget for each category so you in control</p>
    </ion-slide>
  </ion-slides>
  <div class="buttons">
    <ion-button color="primary" expand="block" [routerLink]="['register']">Daftar</ion-button>
    <ion-button color="secondary" expand="block" [routerLink]="['login']">Masuk</ion-button>
  </div>
</ion-content>
