<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="tabIcon('home')"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transaction">
      <ion-icon [name]="tabIcon('transaction')"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>

    <div class="tab-spacer"></div>

    <ion-tab-button tab="debt">
      <ion-icon [name]="tabIcon('debt')"></ion-icon>
      <ion-label>Hutang</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saving">
      <ion-icon [name]="tabIcon('saving')"></ion-icon>
      <ion-label>Tabungan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="success" (click)="toInputPage('income')">
      <ion-icon src="../../assets/icon/income.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button color="danger" (click)="toInputPage('expense')">
      <ion-icon src="../../assets/icon/expense.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>