app-transaction-tab {
  ion-header {
    &::after {
      display: none;
    }
    ion-toolbar {
      --background: #fff;
      ion-buttons {
        ion-button.btn-filter-month {
          --border-color: #f1f1fa !important;
          --border-radius: 20px !important;
          height: 40px;
          --padding-top: 12px;
          --padding-bottom: 12px;
          --padding-start: 16px;
          --padding-end: 16px;
          ion-icon {
            color: var(--ion-color-primary);
          }
        }
        ion-button.btn-filter {
          --border-color: #f1f1fa !important;
          --border-radius: 8px !important;
          height: 40px;
          width: 40px;
          ion-icon {
            color: var(--ion-color-primary);
          }
        }
      }
    }
  }
  ion-content {
    --background: linear-gradient(180deg, #fff 70%, rgba(139, 80, 255, 0.24) 100%);
    --padding-bottom: 84px;
    .transaction {
      ion-item {
        --background: #fcfcfc;
      }
    }
  }
}