app-transaction-tab {
  background: var(--ion-color-primary);
  ion-header {
    &::after {
      display: none;
    }
    ion-toolbar {
      --background: var(--ion-color-primary);
      ion-buttons {
        .btn-filter-month {
          border: 2px solid #f1f1fa !important;
          border-radius: 20px !important;
          color: #f1f1fa;
          font-size: 14px;
          height: 40px;
          --padding-top: 12px;
          --padding-bottom: 12px;
          --padding-start: 16px;
          --padding-end: 16px;
          ion-icon {
            color: #f1f1fa;
          }
        }
        ion-button.btn-filter {
          --border-color: #f1f1fa !important;
          --border-radius: 8px !important;
          height: 40px;
          width: 40px;
          ion-icon {
            color: #f1f1fa;
          }
        }
      }
    }
  }
  ion-content {
    border-radius: 24px 24px 0 0;
    overflow: hidden;
    // --background: linear-gradient(180deg, rgba(139, 80, 255, 0.5) 50%, rgba(139, 80, 255, 0.2) 100%);
    --padding-bottom: 84px;
    .summary {
      border-radius: 0px 0px 32px 32px;
      padding: 16px;
      .in-out {
        display: flex;
        justify-content: space-between;
        .in, .out {
          align-items: center;
          border-radius: 20px;
          color: #fcfcfc;
          display: flex;
          flex: 1;
          padding: 12px;
          ion-icon {
            color: #fcfcfc;
            height: 40px;
            width: 40px;
            margin-right: 8px;
          }
          h3 {
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 4px;
          }
          h4 {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            margin: 0;
          }
        }
        .in {
          background: #00A86B;
          margin-right: 6px;
        }
        .out {
          background: #FD3C4A;
          margin-left: 6px;
        }
      }
    }
    .transaction {
      ion-item {
        --background: #fcfcfc;
      }
    }
  }
}