.input {
  margin-bottom: 16px;
  input, select, ion-select {
    appearance: none;
    background: #fff;
    border: 1px solid #f1f1fa;
    border-radius: 16px;
    color: #91919f;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 12px 16px;
    width: 100%;
    &::placeholder {
      color: #91919f;
    }
    &[type="date"]:before {
      content: attr(placeholder) !important;
      color: #91919f;
      margin-right: 0.5em;
    }
    &[type="date"]:focus:before,
    &[type="date"]:valid:before {
      content: "" !important;
    }
  }
  textarea {
    background: #fff;
    border: 1px solid #f1f1fa;
    border-radius: 16px;
    color: #91919f;
    font-size: 16px;
    outline: none;
    padding: 12px 16px;
    width: 100%;
    &::placeholder {
      color: #91919f;
    }
  }
  &.invalid {
    input, select, ion-select, textarea {
      border-color: #cf3c4f;
      color: #cf3c4f;
    }
    .alert {
      color: #cf3c4f;
      font-size: 14px;
      margin-left: 8px;
      margin-top: 4px;
    }
  }
}
ion-button {
  --border-radius: 16px;
  --box-shadow: none;
  font-size: 18px;
  height: 56px;
  letter-spacing: normal;
  text-transform: initial;
}
