<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Masuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="input" [ngClass]="{'invalid': phone.invalid && (phone.dirty || phone.touched)}">
      <input type="text" inputmode="phone" placeholder="Nomor Handphone" [formControl]="phone"  required>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
        <div *ngIf="phone.errors?.['required']">
          Nomor handphone harus diisi.
        </div>
        <div *ngIf="phone.errors?.['minlength']">
          Format nomor handphone salah.
        </div>
      </div>
    </div>
    <div class="input" [ngClass]="{'invalid': password.invalid && (password.dirty || password.touched)}">
      <input type="password" inputmode="password" placeholder="Password" [formControl]="password" required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
        <div *ngIf="password.errors?.['required']">
          Password harus diisi.
        </div>
        <div *ngIf="password.errors?.['minlength']">
          Password minimal 8 karakter.
        </div>
      </div>
    </div>
    <div class="ion-padding-vertical">
      <ion-button color="primary" expand="block" [disabled]="!isValid() || loading" (click)="onSubmit()">
        Masuk
        <ng-container *ngIf="loading"><ion-spinner></ion-spinner></ng-container>
      </ion-button>
    </div>
    <div class="ion-padding-vertical ion-text-center">
      <a>Lupa Password?</a>
    </div>
    <div class="ion-padding-vertical ion-text-center">
      Belum punya akun? <a [routerLink]="['/auth/register']">Daftar</a>
    </div>
  </div>
</ion-content>
